body {
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#createHouse {
    position: fixed;
    top: 20px;
    left: 20px;
    /*margin: 1rem;*/
    padding: 0.6rem;
}

#updateContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20rem;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#houseForm {
    display: flex;
    flex-direction: column;
}

#houseForm .input-group {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
}

#houseForm .input-group-text {
    width: 6rem;
}

#editTreeForm .input-group {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
}

#editTreeForm .input-group-text {
    width: 8rem;
}

#houseForm button {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#houseForm button:hover {
    background-color: #0056b3;
}

#editHouseAddressModal .input-group-text {
    width: 8rem;
}

.input-group .form-control[type="color"] {
    height: calc(2.25rem + 2px); /* Same height as Bootstrap form controls */
    padding: 0.375rem 0.75rem;   /* Same padding as other input types */
    max-width: none;             /* Remove any automatic width constraints */
    display: flex;
    align-items: center;
    z-index: 2001;
}

#alerts-wrapper {
    position: absolute; /* Use fixed to keep alerts in view as the page scrolls */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure it's above other content but below modals */
    pointer-events: none; /* Allow clicks to pass through */
}

.alert {
    width: 100%;
    z-index: 999;
    margin-bottom: 10px; /* Spacing between alerts */
}

.modal {
    z-index: 1001; /* Make sure this is higher than the canvas */
}

.modal-backdrop {
    z-index: 1000;
}

